<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()">
            <img src="./assets/svg/icon_menu.svg" alt="menu">
        </button>
        <a href="">
            <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
        </a>
        <a href="">
            <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
    </div>
    <div class="side-menu" [class.active]="activeMenu">
        <ul>
            <li><a routerLinkActive="active" routerLink="home">All</a></li>
            <li *ngFor="let category of categories">
                <a routerLinkActive="active" [routerLink]="['/category', category.id]">{{category.name}}</a>
            </li>
        </ul>
        <button (click)="toggleMenu()">Close</button>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="">
                <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
            </a>
            <ul>
                <li><a routerLinkActive="active" routerLink="home">All</a></li>
                <li *ngFor="let category of categories">
                    <a routerLinkActive="active" [routerLink]="['/category', category.id]">{{category.name}}</a>
                </li>
            </ul>
        </nav>
        <div class="info">
            <button (click)="createUser()">Create user</button>
            <button *ngIf="!profile; else emailProfile"  (click)="loginAndGet()">Login</button>
            <ng-template #emailProfile>
                <div>{{ profile?.email }}</div>
            </ng-template>
                <div class="nav-shopping-cart">
                    <a href="">
                        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
                    </a>
                
                <div class="counter">     
                    {{ counter }}
                </div>
            </div>
        </div>
    </div>
</div>